[includeIf "gitdir:~/"]
    path = .gitconfig_personal
[includeIf "gitdir:~/github/chewielabs/"]
    path = .gitconfig_mill

[core]
	editor = nvim
    autocrlf = input
    fsmonitor = true
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    line-numbers = true
    syntax-theme = Catppuccin Mocha
[push]
    default = current
	autoSetupRemote = true
[pull]
	rebase = true
[init]
    defaultBranch = main
[rerere]
	enabled = true
