[includeIf "gitdir:~/"]
    path = .gitconfig_personal
[includeIf "gitdir:~/github/chewielabs/"]
    path = .gitconfig_mill

[core]
	editor = nvim
    autocrlf = input
    fsmonitor = true
    excludesFile = ~/.gitignore_global
[fetch]
    prune = true
[push]
    default = current
	autoSetupRemote = true
[pull]
	rebase = true
[rebase]
    autoSquash = true
    autoStash = true
[merge]
    conflictstyle = zdiff3
[diff]
    algorithm = histogram
    colorMoved = default
[branch]
    sort = -committerdate
[column]
    ui = auto
[init]
    defaultBranch = main
[rerere]
	enabled = true
